name: Tests
on:
  pull_request:
    branches:
    - main
    - release-*
  push:
    branches:
    - main
    - release-*

jobs:
  golden-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run tests
      run: |
        ./run_tests.sh

  action:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Run action
      uses: ./
      id: run_action
      with:
        paths: "*"
        paths-ignore: "*.md"
    outputs:
      has_changes: ${{ steps.run_action.outputs.has_changes }}
